# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
number_float=2.3
print(number_float)
number_float = 7.2
print(number_float)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num = 2
num2 = 5.4

result = num +num2

print(result)
result+=2
print(result)
print(result + 2)

7.4
9.4
11.4

##### Subtraction

In [12]:
result_diff = 5 - num

print(result_diff)
result_diff -=1
print(result_diff)

3
2

##### Multiplication

In [14]:
result_mul = num * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [15]:
result_div = num2/num
print(result_div)

result_div/=3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor = num2 // num
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [19]:
result_mod = 10 % 3
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [53]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [54]:
name = "Sydney"
print(name)

print("This is my first name: "+ name)
print("full name:",name, end= " Ruppert")

Sydney
This is my first name: Sydney
full name: Sydney Ruppert

##### print() <br>
<p>Don't forget about end=' '</p>

In [27]:
first_name= "Sydney"
last_name = "Ruppert"
full_name = first_name + " " + last_name
print(full_name)

Sydney Ruppert

##### String Concatenation

In [28]:
first_name= "Sydney"
last_name = "Ruppert"
full_name = first_name + " " + last_name
print(full_name)

Sydney Ruppert

##### Type Conversion

In [29]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [30]:
#input will always return a string

#name= input('what is your name?')
#print('nice to meet you, ' +name)

age = int(input("what is your age?"))
add_age = age + 5
print(add_age)

what is your age?6
11

##### format()

In [33]:
age = input ("what is your age?")
result_string= "you are {} {} and you are getting wiser!!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!"
print(result_again)

what is your age?25
you are 25 Sydney and you are getting wiser!!
25 is a great time in life!!

##### Old Way (python 2)

In [34]:
result_string2= "you are %s and you look great for your age"
print(result_string2)

you are %s and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [36]:
color = input("what ia the color of your car? ")
year = int(input("And what is the year of your car? "))
make = input("And what is the make of your car?")
model = input ("And what is the model of your car? ")
result = ("You have a {} {} {} {} .").format(color,year,make,model)
print(result)

what ia the color of your car? black
And what is the year of your car? 2013
And what is the make of your car?hyundai
And what is the model of your car? tuscon
You have a black 2013 hyundai tuscon .

### If Statements

In [42]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
if num1 == 5:
    print('this is true!')
else:
          print('this is not true')
num2=10
if num1 == num2:
    print('they are equal')
else:
    print('they are not equal')
    
if num2> num1:
    print('Num2 is greater')
elif num1 > num2:
    print('Num1 is greater')
else:
    print('they are equal')

this is true!
they are not equal
Num2 is greater

##### 'is' keyword

In [44]:
#The keyword is for checking the same object but not the same value

num3 = 55
if num3 == 55:
    print('this is the exact number/object')

this is the exact number/object

##### 'in' keyword

In [45]:
#Check if a character is a string

char_name = "frodo"
if "frodo" in char_name:
    print('the ring bearer')

the ring bearer

##### 'not in' keyword'

In [46]:
sega_char = "sonic"

if "a" not in sega_char:
    print('a is not here')

a is not here

In [ ]:
# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [25]:
user=input("What is your favorite color?")
if 'p' in user:
    print('That is my favorite color too!')
else:
    print('That is a wonderful color')

What is your favorite color?purplw
That is my favorite color too!

## Using 'and'/'or' with If Statements

In [78]:
num_11 = 15
num_12 = 16
num_13 = 10
num_14 = 3

#If with 'and' statement
if num_11/5 == num_12 and num_13 - 7 == num_14:
    print('true and true')

### Elif Statements

In [26]:
first_name = input('what is your name?')

if first_name == 'Smith':
    print('The name is Smith')
elif first_name != 'Max':
    print('The name is not Max')
elif first_name == 'Sydney':
    print('The name is Sydney')
else:
    print('The name is Max')

what is your name?Sydney
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [82]:
#Syntax
#for counter in condition

name = 'Sydney Ruppert'
for letter in name:
    print(letter)

S
y
d
n
e
y

R
u
p
p
e
r
t

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [90]:
for i in range(20):
    if i == 5:
        continue
    print(i)
    
name = 'Sydney Ruppert'
for i in name:
    if i == 'y':
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
S
d
n
e

R
u
p
p
e
r
t

##### Break Statement

In [ ]:
# will break out of current loop

In [91]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [92]:
for i in name:
    pass

##### Double For Loops

In [93]:
for i in range(5):
    for j in range(5):
        print('i= ',i, 'j= ',j)

i=  0 j=  0
i=  0 j=  1
i=  0 j=  2
i=  0 j=  3
i=  0 j=  4
i=  1 j=  0
i=  1 j=  1
i=  1 j=  2
i=  1 j=  3
i=  1 j=  4
i=  2 j=  0
i=  2 j=  1
i=  2 j=  2
i=  2 j=  3
i=  2 j=  4
i=  3 j=  0
i=  3 j=  1
i=  3 j=  2
i=  3 j=  3
i=  3 j=  4
i=  4 j=  0
i=  4 j=  1
i=  4 j=  2
i=  4 j=  3
i=  4 j=  4

### While Loops

In [94]:
#syntax
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [27]:
game_over = True

while game_over:
    print('infinite loop')
    user_input = input('would you like to stop?')
    if user_input == 'Yes':
        game_over= False

infinite loop
would you like to stop?No
infinite loop
would you like to stop?No
infinite loop
would you like to stop?No
infinite loop
would you like to stop?Yes

##### While & For Loops Used Together

In [100]:
num = 0
while num < 5:
    print('/nWhile loop iteration: ' + str(num))
    for i in range(2):
        print('for loop itieration', str(i))
        num += 1

/nWhile loop iteration: 0
for loop itieration 0
for loop itieration 1
/nWhile loop iteration: 2
for loop itieration 0
for loop itieration 1
/nWhile loop iteration: 4
for loop itieration 0
for loop itieration 1

### Built-In Functions

##### range()

In [102]:
#range(start,stop,step)
for i in range(2,20,2):
        print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [103]:
name="Max"
length = len(name)
print(length)

3

##### help()

In [104]:
#use this funvtion to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [108]:
#check variable to find out what object family or data type it belongs to
#isinstance (var,type)


print(isinstance(4.5,float))
print("This is a float type")
 #or
    
num = 4.5
if isinstance(num,int):
    print(f' {num} is an int')
esle: print(f'{num} is a float')

True
This is a float type
4.5 is a float

##### abs()

In [109]:
#|-5| = 5

print(abs(-5))

5

### Try and Except

In [114]:
#use this to logout graceful and useful error mesasages
#Does not Stop the program

try:
    input_num = int(input('Guess a number?'))
    print("your number is : " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [1]:
list_1 = [ ]
names=['Max','Cindy','Kathy','Bob','Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [3]:
#list_names[start:stop:step]

#single index
print(names[0])

#print staring at index one to the end
print(names[1:])

#print from beggining to index 2
print(names[:2])

#print names starting at index 1 and going up by 2
print(names[::2])

#print starting at the end and going in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Max', 'Kathy', 'Nate']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [4]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [5]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [6]:
#Defaults to the last value if no parameter is given
#Pop returns the element that was removed in case you want to assign it a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [28]:
#value to be removed rather than index- only works once and then will give an error because it is no longer in the list
#names.remove('Bob')
#print(names)

#remove multiple Brandons in a list 
while 'Cindy' in names:
    names.remove('Cindy')
print(names)

['Max', 'Devon', 'Nate', 'Brandon']

##### del()

In [15]:
#Goes by index,rather than value
#Be carefule with delete because it can cause indexing errors

del(names[1])
print(names)

['Max', 'Devon', 'Nate', 'Brandon']

##### Concatenating Two Lists

In [19]:
list_2=[0,1,2]
list_3=[3,4,5]
list_4=[6,7,8]
large_list= list_2 + list_3 + list_4
print(large_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

##### Lists Within Lists

In [20]:
#Liste within list
#List can hold any type of other element including other list
#They can go as deep as you want; this is called nested list

names_1 =['Max','Sam','Josh',['Sally','Sue','tameka']]
print(names_1)
print(names_1[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'tameka']]
Sue

##### Looping Through Lists

In [23]:
#2 ways to loop through a list:by index or the 'in' keyword
#By index
for i in range(len(names)):
    print(names[i])
    
#loop with in
for i in names:
    print(i)

Max
Devon
Nate
Brandon
Max
Devon
Nate
Brandon

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [39]:
for x in range(0,1001):
    if x**2 < 1001:
        print(x**2)
    else:
        break

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [52]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num in range(2,101):
    if all(num%i!=0 for i in range(2,num)):
       print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [51]:
age = int(input('How old are you?'))
if age > 0 and age <= 18: 
    print('Kid.')
elif age >= 19 and age <= 65: 
    print('Adult.')
else:
    print ('Seniors')

How old are you?67
Seniors